<h2>Sign Up</h2>



    <%= render "layouts/flash" %>

    <%= bootstrap_form_for :user do |f| %>
      <%= f.text_field :name, placeholder: "Enter your name", icon: "user" %>
      <%= f.text_field :email, placeholder: "Enter your email", icon: "envelope" %>
      <%= f.text_field :password, placeholder: "Enter a password", icon: "lock" %>
      <%= f.submit "Sign Up", class: "btn btn-primary" %>
    <% end %>

