<h2>Posts Edit</h2>



    <%= render "layouts/flash" %>

    <%= bootstrap_form_for @post do |f| %>
    <%= f.text_field :title %>
    <%= f.text_field :link %>
    <%= f.primary "Edit Post", class: "btn btn-success"  %>
    <% end %>

